            <div class="summer-author-info">
                <div class="row">
                    <section class="summer-post-author small-12 columns">
                        
                            <span class="author-label">Author</span>
                            <h3>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a></p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                </div>
            </div>